DATABASE_USER=postgres
DATABASE_PORT=5432
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_NAME=anubis
APP_PORT=3000
APP_SESSION_SECRET=superdupersecrethereasdfasdfasdfasdfasdfasdfasdfasdfasdfasfdasfasdf
APP_CORS_ORIGIN=http://localhost:5173